doctype html
html(lang='en')
  head
    title Album
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/global.css')
    script(src='index.js', defer)
  body
    include components/header.pug
    main
      div(id="login-box")
        h1 Welcome to album      
        a(href="/register") Register
        a(href="/login") Login
    include components/footer.pug