doctype html
html(lang='en')
  head
    title Album
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/global.css')
    script(src='index.js', defer)
  body
    include components/header.pug
    main
      div(id="login-box")
        h1 Login        
        form(action="/submit_login", method="post")
            label(for="username") Username
            input(type="text", name="username", id="input-username") 
            label(for="password") Password
            input(type="password", name="password", id="input-password") 
            button(type="submit", id="login-button") Login
        if failed
            p(id="error-msg") Incorrect Username or Password!
        p Don't have an account? 
            a(href="/register") Register
    include components/footer.pug