:root{
    --dark-0: #010101;
    --dark-1: #111;
    --dark-2: #333;
    --light-1: #efefef;
    --light-2: #eee;
    --light-3: #ccc;
    --shadow-basic: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    
    --width-album: 125px;
    --cols: 2;
    --grid-padding: 2em;
    --grid-gap: 4px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeee;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-0);
    box-shadow: var(--shadow-basic);
}

h1 {
    color: #ccc;
    font-size: 1em;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Album grid */
#album-grid {
    padding: 1em;
    gap: var(--grid-gap);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--cols), var(--width-album));
}

.album-card {
    aspect-ratio: 1/1;
    position: relative;
    box-shadow: var(--shadow-basic);
    border-radius: .5em;
    /* height: fit-content; */
    width: var(--width-album);
    height: var(--width-album);
}

#current-album{
    grid-row: span 2;
    grid-column: span 2;
    width: calc(2*var(--width-album) + var(--grid-gap));
    height: calc(2*var(--width-album) + var(--grid-gap));
}

#current-album h2 {
    color: #fff;
}

.album-card img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.album-title, 
.album-artist,
.album-year {
    font-size: 12px;
    text-align: center;
    margin-top: .5em;
    max-height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-info {
    padding: 1em;
    position: absolute;
    border-radius: inherit;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
}

.album-info:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ddd;
    cursor: pointer;
}

/* Footer */

footer {
    grid-column: span 3;
    background-color: var(--dark-0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2em 0;
}

#login-box {
    display: flex;
    flex-direction: column;
}

#login-box form{
    display: flex;
    flex-direction: column;
}

/* Small screens (phones) */
@media (min-width: 640px) {
    :root{
        --cols: 3;
    }
}

/* Medium screens (tablets) */
@media (min-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    
    :root{
        --cols: 4;
    }
}

/* Large screens (laptops) */
@media (min-width: 1366px) {
    :root{
        --cols: 5;
    }
    
    #infobar{
        align-self: stretch;
    }
}